DOCKERFILE=('Dockerfile')
ROK8S_DOCKER_BUILD_EXTRAARGS=("")
EXTERNAL_REGISTRY_BASE_DOMAIN=("us-east1-docker.pkg.dev/${GCP_PROJECT}/raha")
REPOSITORY_NAME="raha"
DOCKERTAG=("${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}")
CI_SHA1=("${CIRCLE_SHA1}")
CI_BUILD_NUM=("${CIRCLE_BUILD_NUM}")
CI_BRANCH=("${CIRCLE_BRANCH}")
