<div id="model_name-container" class="flex items-center space-x-3 group">
    <h1 class="text-4xl font-bold">{{ profile.model_name }}</h1>
    {% if is_owner %}
    <button hx-get="{% url 'models:edit_name' slug=profile.slug %}" 
            hx-target="#model_name-container" 
            hx-swap="outerHTML"
            hx-trigger="click, touchend"
            class="text-pink-500 p-3 transition-colors duration-200"
            aria-label="Edit Name">
        <i class="fa-solid fa-pencil text-xl"></i>
    </button>
    {% endif %}
</div>
