<div id="location-container" class="group">
    <div class="flex items-center space-x-2">
        <p class="text-gray-400">{{ profile.primary_location.name }}</p>
        {% if is_owner %}
        <button hx-get="{% url 'models:edit_location' slug=profile.slug %}" 
                hx-target="#location-container" 
                hx-swap="outerHTML"
                hx-trigger="click, touchend"
                class="text-pink-500 p-3 transition-colors duration-200"
                aria-label="Edit Location">
            <i class="fa-solid fa-pencil text-lg"></i>
        </button>
        {% endif %}
    </div>
    {% if profile.nearby_locations.exists %}
    <p class="text-gray-500 text-sm mt-1">Nearby: {{ profile.nearby_locations.all|join:", " }}</p>
    {% endif %}
</div>
