<div id="orientation-container" class="group inline-block">
    <div class="flex items-center space-x-2">
        <span>{{ profile.get_orientation_display }}</span>
        {% if is_owner %}
        <button hx-get="{% url 'models:edit_orientation' slug=profile.slug %}" 
                hx-target="#orientation-container" 
                hx-swap="outerHTML"
                hx-trigger="click, touchend"
                class="text-pink-500 p-3 transition-colors duration-200"
                aria-label="Edit Orientation">
            <i class="fa-solid fa-pencil text-lg"></i>
        </button>
        {% endif %}
    </div>
</div>
