<div id="short_summary-container" class="group">
    <div class="flex items-center space-x-2">
        <p class="text-pink-500 font-medium italic">{{ profile.short_summary }}</p>
        {% if is_owner %}
        <button hx-get="{% url 'models:edit_summary' slug=profile.slug %}" 
                hx-target="#short_summary-container" 
                hx-swap="outerHTML"
                hx-trigger="click, touchend"
                class="text-pink-500 p-3 transition-colors duration-200"
                aria-label="Edit Summary">
            <i class="fa-solid fa-pencil text-lg"></i>
        </button>
        {% endif %}
    </div>
</div>
