<div id="description-container" class="group">
    <div class="flex items-center justify-between mb-4 border-b border-gray-700 pb-2">
        <h2 class="text-xl font-bold">Description</h2>
        {% if is_owner %}
        <button hx-get="{% url 'models:edit_description' slug=profile.slug %}" 
                hx-target="#description-container" 
                hx-swap="outerHTML"
                hx-trigger="click, touchend"
                class="text-pink-500 p-3 transition-colors duration-200"
                aria-label="Edit Description">
            <i class="fa-solid fa-pencil text-xl"></i>
        </button>
        {% endif %}
    </div>
    <p class="text-gray-300 whitespace-pre-wrap">{{ profile.description }}</p>
</div>
